@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

.aboutus-container {
  display: grid;
  grid-template-rows: 40% 60%;
  padding: 4rem;
}
.aboutus-container-upper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.aboutus-container-lower {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 4rem;
}

.team {
  font-family: "Roboto", sans-serif;
}
.team img {
  width: 100%;
  height: 50vh;
}

.aboutus {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.949);
  height: 110%;
}

.header-text {
  display: grid;
  place-items: center;
}

.header-text h2 {
  font-weight: 700;
  font-size: calc(1.3rem + 0.5vw);
  text-transform: uppercase;
  line-height: 1;
  color: rgb(24, 61, 143);
}

.header-text span {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(2.5rem + 1vw);
  color: rgb(25, 25, 24);
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: hsla(188, 64%, 52%, 0.7);
  padding: 8vh;
}

.description p {
  max-width: 40rem;
  margin-inline: auto;
  line-height: 1.6;
}

.credit {
  font-size: calc(0.75rem + 0.2vw);
}

.credit a {
  color: white;
  text-decoration: underline; /* Used 'text-decoration' instead of 'text-underline-offset' */
  text-underline-offset: 2px; /* This property might not be fully supported */
}

.section-bg {
  background-color: #eee;
}

.section-header {
  text-align: center;
  padding: 40px 0;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

.section-header p span {
  color: #3da2e1;
}

.why-box {
  padding: 40px;
  background: #3da2e1;
  color: #fff;
}

.why-box h3 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
}

.why-box p {
  margin-bottom: 30px;
  padding: 40px;
}
@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
  }
}

h4 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10%;
}

