@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
.team {
  width: 80%;
  position: relative;
  height: 100vh; /* Set the container height to the full viewport height */
  font-family: 'Roboto', sans-serif;;
}

.team img {
    position: absolute;
    top: 50%; /* Position the image vertically centered */
    left: 50%; /* Position the image horizontally centered */
    transform: translate(-30%, -40%); /* Adjust to center the image precisely */
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    max-height: 100%; /* Ensure the image doesn't exceed its container height */
    width: auto; /* Let the image scale proportionally */
    height: auto; /* Let the image scale proportionally */
}

.aboutus {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(237, 192, 69, 0.18);
  height: 110%;
}

.header-text {
  position: absolute;
  color: rgb(67, 66, 61);
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateY(-15vw) translateX(-20vw);
  top: 0;
  bottom: 0;
  left: 10px; /* Added 'px' unit */
  right: 0;
  margin-top: 10vh;
  margin-left: 7vw;
  padding: 40vh;
  font-weight: 400;
  font-size: calc(0.2rem + 1vw);
}

.header-text h2 {
  font-weight: 700;
  font-size: calc(1.0rem + 0.5vw);
  text-transform: uppercase;
  line-height: 1;
  color: rgb(24, 61, 143);
}

.header-text span {
  display: block;
  font-weight: 900;
  font-size: calc(2.5rem + 1vw);
  color: rgb(195, 66, 14);
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: hsla(188, 64%, 52%, 0.7);
  padding: 8vh;
}

.description p {
  max-width: 40rem;
  margin-inline: auto;
  line-height: 1.6;
}

.credit {
  font-size: calc(0.75rem + 0.2vw);
}

.credit a {
  color: white;
  text-decoration: underline; /* Used 'text-decoration' instead of 'text-underline-offset' */
  text-underline-offset: 2px; /* This property might not be fully supported */
}
