@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  width: 100%;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  height: 85vh;
=======
  // height: 120%;
  height: 70vh;
>>>>>>> Stashed changes
=======
  // height: 120%;
  height: 70vh;
>>>>>>> Stashed changes
  min-height: 300px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  //transform: translate3d(0,0,0);
}

@each $index, $speed, $height in (1, 20s, 136px), (2, 30s, 145px),
  (3, 55s, 158px), (4, 75s, 468px), (5, 95s, 311px), (6, 120s, 222px)
{
  .layer-#{$index} {
    animation: parallax_fg linear $speed infinite both;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/#{$index}.png)
      0
      100%
      repeat-x;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto $height;
  }
}

.bike-1,
.bike-2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/bike.png) 0
    100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
}

.bike-1 {
  animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  animation: parallax_bike linear 15s infinite both;
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}

.logo {
  position: absolute;
  margin-right: 600px;
  z-index: 2;
  width: 25%;


  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    @media (max-width: 700px) {
      max-width: 90%;
    }
  }
}

nav {
  background-color: #12212f;
  overflow: hidden;
  ul {
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    @media (max-width: 700px) {
      width: 50%;
      text-align: center;
    }
    padding: 10px 20px;
  }
  a {
    /* Tilmelding: */
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
}

.dark-bg {
  background-color: #12212f;
  padding: 50px 50px;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.light-bg {
  background-color: #fff;
  padding: 50px 50px;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.extra {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #12202f;
  letter-spacing: 0px;
  line-height: 27px;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
video {
  width: 60%;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5.5vh;
  padding: 1rem;
  margin-top: 5rem;
  font-weight: bolder;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 25px;
  // margin-bottom: 50px;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0056b3;
    text-decoration: none;
    color: white;
  }
}
=======

>>>>>>> Stashed changes
=======

>>>>>>> Stashed changes
