@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.hero {
  width: 100%;
  height: 85vh;
  min-height: 300px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  //transform: translate3d(0,0,0);
}

@each $index, $speed, $height in (1, 20s, 136px), (2, 30s, 145px),
  (3, 55s, 158px), (4, 75s, 468px), (5, 95s, 311px), (6, 120s, 222px)
{
  .layer-#{$index} {
    animation: parallax_fg linear $speed infinite both;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/#{$index}.png)
      0
      100%
      repeat-x;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto $height;
  }
}

.bike-1,
.bike-2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/bike.png) 0
    100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
}

.bike-1 {
  animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  animation: parallax_bike linear 15s infinite both;
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }
  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }
  100% {
    background-position: 2000px 100%;
  }
}

.logo {
  position: absolute;
  margin-right: 600px;
  z-index: 2;
  width: 25%;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    @media (max-width: 700px) {
      max-width: 90%;
    }
  }
}

nav {
  background-color: #12212f;
  overflow: hidden;
  ul {
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    @media (max-width: 700px) {
      width: 50%;
      text-align: center;
    }
    padding: 10px 20px;
  }
  a {
    /* Tilmelding: */
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
}

.dark-bg {
  background-color: #12212f;
  padding: 50px 50px;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.light-bg {
  background-color: #fff;
  padding: 50px 50px;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.extra {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #12202f;
  letter-spacing: 0px;
  line-height: 27px;
}

.videoHome {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
}

.App h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5.5vh;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: bolder;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 25px;
  // margin-bottom: 50px;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0056b3;
    text-decoration: none;
    color: white;
  }
}

.wrapper {
  width: 100%;

  > div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    width: 20rem;
    height: 20rem;
    margin: 0 1rem;
    position: relative;
    padding: 3rem 1.5rem;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-radius: 2rem;

    // Add hover effect
    &:hover {
      box-shadow: 10px 10px 10px rgba(6, 158, 224, 0.4);
    }
  }
}
.home-screen {
  display: flex;
  justify-content: center;
}
.icon-size {
  font-size: 5rem;
}

.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.icon-btn {
  position: absolute;
  bottom: 1rem;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  width: 6rem;
  height: 6rem;
  margin: 1rem 6rem;
  color: rgb(31, 39, 122);
  background-color: white;

  &:hover {
    background-color: white;
    text-decoration: none;
    border: #fff;
    color: rgb(71, 200, 244);
  }
}

.clickable-card {
  // Your existing CSS styles for the card...
  position: relative;
  cursor: pointer;

  .icon-btn-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}

/* Media Queries for Mobile and Tablet Devices */
@media (max-width: 768px) {
  /* Font Scaling */
  .App h2 {
    font-size: 3.5vh;
    margin-top: 1rem;
  }

  /* Navigation */
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    width: 100%;
    text-align: center;
  }

  /* Card Layout */
  .wrapper > div {
    width: 90%;
    margin: 1rem auto;
  }
  .home-screen {
    flex-direction: column;
    align-items: center;
  }

  /* Buttons and Icons */
  .icon-btn {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 3rem;
    &:hover {
      background-color: white;
      text-decoration: none;
      border: #fff;
      color: rgb(71, 200, 244);  
  }
}
  .icon-size {
    font-size: 3rem;
  }
}
