.resources-container {
  font-family: Arial, sans-serif;
  background: url("/accident_roadgeo.png") no-repeat center;
  background-size: cover;
  height: 40vh;
  width: 100%;
  transition: all 0.3s ease;
}

.content {
  margin: 20px 50px;

  .resources-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 900;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
  grid-template-columns: 1fr 1fr 3fr;
}

.box {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border: 4px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  z-index: 1;
  width: 50%;
}

.chartSummary {
  height: 50vh;
}

.content {
  margin: 20px 50px;
}

.content h2 {
  margin-top: 15px;

  font-size: 3.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content p {
  font-size: 1em;
}

.chartSummarybox {
  height: 50vh;
  width: 100% !important;
  padding: 1rem;
}
.chartSummary {
  display: grid;
  place-items: center;
  height: 50vh;
  width: 100% !important;
  padding: 1rem;
}

/* Media queries for responsiveness */

/* For tablets */
@media (max-width: 768px) {
  .box {
    width: 70vh;
    height: 300px;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .content {
    h2 {
      font-size: 2.5em;
      width: 70%;
    }

    p {
      font-size: 0.9em;
      width: 70%;
    }
  }

  .box {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .box {
    width: 90vw;
    height: 250px;
  }

  .content {
    h2 {
      font-size: 2em;
      width: 80%;
    }

    p {
      font-size: 0.8em;
      width: 80%;
    }
  }

  .wrapper {
    padding: 10px;
    gap: 12px;
  }

  .chartSummary {
    height: auto;
    width: 90vw;
    margin: 0 auto;
  }
}

.paragraph-resource {
  text-align: center; /* Centers the text */
  position: relative;
  padding-bottom: 10px; /* Adds some space for the underline */
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  &:after {
    /* Creates the underline */
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers the underline */
    bottom: 0;
    width: 60%; /* Adjust as needed */
    height: 2px;
    background-color: currentColor;
  }
}
section:nth-child(odd) {
  background-color: rgba(
    191,
    224,
    249,
    0.18
  ); // replace with the color you want
}
.chart-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 1rem;
}
.chart-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 1rem;
}
.importantInfo {
  padding: 20px;
  // background-color: #f9f9f9; // Light grey background
  // border: 1px solid #e0e0e0; // Border for a subtle definition
  border-radius: 5px; // Rounded corners
  font-size: 14px;
  margin-bottom: 20px; // Space below the information box
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Adding a subtle shadow

  // If you want to add a title inside the important info box:
  h4 {
    font-weight: 600; // Making the title bold
    margin-bottom: 10px; // Space below the title
  }

  // Styling for links inside the box, if any:
  a {
    color: #007bff; // Typical link color
    text-decoration: none; // Removing the underline
    &:hover {
      text-decoration: underline; // Underline on hover
    }
  }
}

.severity-container {
}
