.bike-trails-container{
  overflow: hidden;

}
.trail-container1 {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}

.trail-slides {
  display: grid;
  height: 400px;
  /* background-color: rgb(0, 0, 0); */
  /* grid-template-columns: 1fr 1fr; */
}

.trail-container2-left-upper {
  display: grid;
  height: 300px;
  /* grid-template-columns: 1fr 1fr; */
}

.trail-container2-right-lower {
  display: grid;
}
.trail-weather {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.trail-weather.active {
  opacity: 1;
  visibility: visible;
  height: auto; /* Adjust as per your need */
}

.wind-container {
  position: relative;
  width: 16rem;
  height: 16rem;
  /* border: 0.1rem solid #000; */
  background-color: rgb(250, 244, 212);
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
  overflow: hidden;
}

.arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.4rem;
  background-color: #0e60d4;
  transform-origin: 50% 100%;
}

/* .wind-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
} */

.arrow::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.6rem;
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid #d40e0e;
}

.bike-trails-header h1 {
  padding: 2rem 0 0 0;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #0b0d7b;
  margin: 0px;
}
.trail-container {
  padding: 2rem;
}

.trail-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #0b0d7b;
  padding: 2rem;
}

.weather-circle {
  height: 6rem;
  width: 6rem;
  background: linear-gradient(
    135deg,
    #85d9f8,
    #2877e7
  ); /* Gradient background */
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 1999999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6rem;
  right: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effects */
}

.weather-circle:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.trail-weather {
  position: absolute;
  top: 8rem;
  right: 2rem;
  width: 600px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softened shadow */
  border: 1px solid #e0e0e0; /* Lighter border */
  opacity: 1;
  height: 100%;
  overflow: scroll;
  padding: 1rem; /* Internal padding */
  transition: box-shadow 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
  z-index: 0;
  border-radius: 8px; /* Rounded edges for the dropdown */
}

.trail-weather.active {
  opacity: 1;
  max-height: 100%;
  z-index: 9999;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); /* Shadow for active state */
}

.weather-p {
  color: white;
  font-size: 1.2rem; /* Increased font size */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Text shadow for depth */
  margin: 0;
}

.weather-icon {
  display: none; /* Hide icon by default */
  width: 20px; /* You can set whatever size you want */
  height: 20px;
  margin-right: 8px; /* Some space between the icon and the text, adjust as necessary */
}

/* Media query for screens with a max width of 768px (typical breakpoint for tablets and below) */
@media (max-width: 768px) {
  h1 span {
    display: block; /* This forces the span elements to take the full width and breaks the content into two lines */
}
  .weather-circle {
      height: 4rem;
      width: 4rem;
      top: 5rem;
      right: 0.5rem;
  }

  .weather-icon {
    display: inline-block;
    height: 3rem;
    width: 4rem;
  } 
  
  .trail-weather {
      top: 6rem;
      right: 1rem;
      width: 90%; 
      height: 500px; 
  }
  .trail-weather.active {
    opacity: 1;
    max-height: 500px;
    z-index: 9999;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); /* Shadow for active state */
    font-size: 0.8rem;
  }

  .weather-p {
    font-size: 0; /* Hide text but retain the element's space */
}

  .weather-p::after {
      content: "Weather Info"; /* Bring back the text */
      font-size: 1rem; /* Adjust to the original font-size or whatever you want */
      visibility: hidden; /* Hide the pseudo content */
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
}


  
}

