.trail-container1 {
  height: 50vh;
  display: grid;

  padding: 0 1.3rem 0 1.3rem;
  gap: 2rem;
}

.trail-slides {
  display: grid;
  height: 400px;
  /* background-color: rgb(0, 0, 0); */
  /* grid-template-columns: 1fr 1fr; */
}

.trail-container2-left-upper {
  display: grid;
  height: 300px;
  /* grid-template-columns: 1fr 1fr; */
}

.trail-container2-right-lower {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  /* margin-top: 8%; */
}

.wind-container {
  position: relative;
  width: 16rem;
  height: 16rem;
  /* border: 0.1rem solid #000; */
  background-color: rgb(250, 244, 212);
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
  overflow: hidden;
}

.arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.4rem;
  background-color: #0e60d4;
  transform-origin: 50% 100%;
}

/* .wind-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
} */

.arrow::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.6rem;
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid #d40e0e;
}

.bike-trails-header h1 {
  padding: 2rem 0 0 0;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #0b0d7b;
  margin: 0px;
}
.trail-container {
  padding: 2rem;
}

.trail-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 900;
  color: #0b0d7b;
}
