.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.container a{
  margin: 50px;
}
.instance {
   text-align: left;
   margin-right: 50px;
}
