.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 80%;
  }
}

.donut-ring {
  stroke: #ebebeb;
}

.donut-segment {
  transform-origin: center;
  stroke: #ff6200;
}

.donut-segment-1 {
  stroke: rgba(64, 176, 23, 0.607);
  animation: donut1 3s;
}

.donut-segment-2 {
  stroke: rgba(53, 72, 216, 0.703);
  animation: donut1 3s;
}

.donut-segment-3 {
  stroke: #e021219d;
  animation: donut2 3s;
}

.donut-segment-4 {
  stroke: #ed1e79;
  animation: donut3 3s;
}

.segment-1 {
  fill: #ccc;
}
.segment-2 {
  fill: aqua;
}
.segment-3 {
  fill: #d9e021;
}
.segment-4 {
  fill: #ed1e79;
}

.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
  }
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
  }
}

@keyframes donut3 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
  }
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: #ff6200;
}
.donut-text-1 {
  fill: aqua;
}
.donut-text-2 {
  fill: #d9e021;
}
.donut-text-3 {
  fill: #ed1e79;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut-data {
  font-size: 0.12em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #666;
  fill: #666;
  animation: donutfadelong 1s;
}

/* ---------- */
/* just for this presentation */
html {
  text-align: center;
}
.svg-item {
  max-width: 60%;
  display: inline-block;
}

.donut-segment.title-green {
  stroke: #ed1e79;
}
.donut-segment.title-orange {
  stroke: #ed471e;
}

.donut-segment.title-red {
  stroke: #ed471e;
}
