.login {
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex; /* Flexbox */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.login-box {
  position: static; /* Defaulting it to static on mobile screens */
  width: 90%; /* initially set to 90% for mobile screens */
  max-width: 500px; /* maximum width to 500px */
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: larger;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #08962d;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #dfe8e1;
  color: #0b0a0a;
  border-radius: 5px;
  box-shadow: 0 0 3px #c4e2b7, 0 0 25px #c4e2b7, 0 0 50px #c4e2b7,
    0 0 100px #c4e2b7;
}

.loginButton {
  display: flex;
  justify-content: center;
}

/* Media query for tablet to desktop devices */
@media screen and (min-width: 768px) {
  .login {
    display: block; /* Revert to block on larger screens */
    height: 100%; /* Revert height to 100% */
  }

  .login-box {
    position: absolute; /* Positioning as before on larger screens */
    top: 50%;
    left: 50%;
    width: 500px; /* Fixed width for larger screens */
    transform: translate(-50%, -50%);
  }
}
