.nav {
  display: grid;
  height: 5rem;
  background: #1a26acf7;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 9999999;
  grid-template-columns: 1fr 3fr;
  
}
.navflex {
  display: flex;
  justify-content: flex-end;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-light--2);
  margin-left: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.2s; /* smooth color transition */
}

.nav a:hover,
.nav a:focus {
  color: var(--color-brand--2);
  outline: none; /* Removing default outline for focus for a cleaner look */
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  transition: background-color 0.2s, color 0.2s; /* smooth transitions for color changes */
}

a.ctaLink:hover,
a.ctaLink:focus {
  background-color: var(
    --color-dark--0
  ); /* You can modify this as per design preference */
  color: var(--color-brand--2);
}

.logo {
  margin-top: -0.8rem;
  height: 3.8rem;
}

.logo-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuToggle {
  display: none; /* hide the checkbox */
}

.hamburger {
  display: none; /* hide the hamburger by default, will show on small screens */
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    height: auto;
    
  }

  .hamburger {
    display: block; /* show the hamburger on small screens */
    text-align: right;
    top: 0.5rem;
    margin-right: 1rem;
    color: white;
  }

  .navflex {
    display: none;
    height: auto;
    justify-content: flex-end; /* push children to the right */
  }

  /* show the menu when the hidden checkbox is checked */
  .menuToggle:checked + .hamburger + .navflex {
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }

  .navflex a {
    display: block;
    text-align: right; /* make sure links align to the right */
    padding: 0.5rem 0;
  }

  .nav a {
    font-size: 1rem;
  }

  .nav a:hover,
  .nav a:focus {
    color: var(--color-brand--2);
    outline: none; /* Removing default outline for focus for a cleaner look */
  }

  .nav a:global(.active) {
    color: var(--color-brand--2);
  }

  .logo {
    padding: 0.1rem;
    height: 3rem;
  }
}

