@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  --ang: 0;
}

// html, body {
//   height: 100%;
// }

.rotateslides {
  // background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
  margin-top: 2rem;
}

.spinner {
  transform-style: preserve-3d;
  //background: #fff3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(calc(var(--ang) * 1deg)) translateY(-12px);
  transition: all 0.5s ease-in-out;
  //animation: spin 10s linear infinite;
  //transform: rotateX(10deg) rotateY(-98deg);
}

.holder {
  //background: #fff2;
  width: 600px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  perspective-origin: center;
}

.panel {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  color: black;
  //box-shadow: 0 0 5px 3px #0006;
}

@for $i from 0 through 15 {
  .panel:nth-child(#{$i + 1}) {
    transform: rotateY(#{$i * 22.5deg}) translateZ(400px);
  }
}

.pagination button {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 44px;
  color: black;
  background: rgba(195, 192, 192, 0.667);
  height: 44px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover {
  background: rgba(114, 114, 114, 0.8);
}

.pagination button:active {
  background: #b9cffa;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    //nothing here;
  }
  100% {
    transform: rotateY(360deg);
  }
}

.a {
  color: black;
  background-image: url("/explore.jpeg");
}

.b {
  background-image: url("/surf_coast_walk.jpeg");
}

.c {
  background-image: url("/great_vic.jpeg");
}

.d {
  background-image: url("/mornington.jpeg");
}

.e {
  background-image: url("/lily.jpg");
}

.f {
  background-image: url("/gippsland-plains.jpeg");
}

.g {
  background-image: url("/you_yong.jpeg");
}

.h {
  background-image: url("/buller.jpeg");
}

.i {
  background-image: url("/wilsons-prom.jpeg");
}

.j {
  background-image: url("/great_ocean.jpeg");
}

.k {
  background-image: url("/goldfield.jpeg");
}

.l {
  background-image: url("/forrest.jpeg");
}

.m {
  background-image: url("/walha.jpeg");
}
.n {
  background-image: url("/sw.jpeg");
}

.o {
  background-image: url("/murray.jpeg");
}

.p {
  background-image: url("/east-gippsland.jpeg");
}

.panel {
  // styles for the panel

  button {
    // styles for the button
    margin-top: 20px;
    color: white;
    font-size: 0.6rem;
    // color: transparent;
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    &:hover {
      background-color: inherit;
      border-color: transparent;
    }
  }
}
