@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  --ang: 0;
}

// html, body {
//   height: 100%;
// }

.rotateslides {
  // background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.spinner {
  transform-style: preserve-3d;
  //background: #fff3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(calc(var(--ang) * 1deg)) translateY(-12px);
  transition: all 0.5s ease-in-out;
  //animation: spin 10s linear infinite;
  //transform: rotateX(10deg) rotateY(-98deg);
}

.holder {
  //background: #fff2;
  width: 600px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  perspective-origin: center;
}

.panel {

  border-radius: 5px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  color: black;
  //box-shadow: 0 0 5px 3px #0006;
}

@for $i from 0 through 15 {
  .panel:nth-child(#{$i + 1}) {
    transform: rotateY(#{$i * 22.5deg}) translateZ(400px);
  }
}

.pagination button {
  padding: 0;
  border: none;
  cursor: pointer;
  width: 44px;
  color: black;
  background: rgba(195, 192, 192, 0.667);
  height: 44px;
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover {
  background: rgba(114, 114, 114, 0.8);
}

.pagination button:active {
  background: #b9cffa;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    //nothing here;
  }
  100% {
    transform: rotateY(360deg);
  }
}

.a {
  color: black;
  background-image: url("/explore.jpeg");
}

.b {
  background-image: url("/surf_coast_walk.jpeg");
}

.c {
  background-image: url("/great_vic.jpeg");
}

.d {
  background-image: url("/mornington.jpeg");
}

.e {
  background-image: url("/lily.jpg");
}

.f {
  background-image: url("/gippsland-plains.jpeg");
}

.g {
  background-image: url("/you_yong.jpeg");
}

.h {
  background-image: url("/buller.jpeg");
}

.i {
  background-image: url("/wilsons-prom.jpeg");
}

.j {
  background-image: url("/great_ocean.jpeg");
}

.k {
  background-image: url("/goldfield.jpeg");
}

.l {
  background-image: url("/forrest.jpeg");
}

.m {
  background-image: url("/walha.jpeg");
}
.n {
  background-image: url("/sw.jpeg");
}

.o {
  background-image: url("/murray.jpeg");
}

.p {
  background-image: url("/east-gippsland.jpeg");
}

.panel {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  color: white; // Change text color to white for better readability
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Space content evenly
  padding: 10px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.2);
}

.panel p {
  margin: 0; // Reset default margins
  font-size: 0.7rem; // Adjust font size as needed
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 5px;
  position: relative;
  bottom: 5rem;
  margin-top: 5px;
  color: white important;
  font-size: 0.9rem;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  transition: all 0.2s;
}
.button_rotate {
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.28);
  }
}

@media only screen and (min-width: 769px) {
  .panel {bottom:-4rem;}
  .buttons {
    bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .rotateslides {
    overflow: hidden;
  }

  .holder {
    width: 85vw; 
    height: 40vh; 
  }

  .panel {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
  }

  .panel p {
    font-size: 0.5rem;
  }

  .buttons {
    bottom: 2rem; 
    flex-direction: row; /* Stack the buttons vertically */
    gap: 10px; /* Increase the gap for better touch */
  }

  .pagination button {
    width: 36px; 
    height: 36px;
    font-size: 20px; 
  }

  .rotateslides {
    margin-top: 1rem;
  }
}

