.trail-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures that the text and image are spaced apart */
  padding: 20px;
}

.trail-info-text {
  flex: 1; /* Takes up the remaining space after the image container */
  padding-right: 20px; /* Some spacing between text and image */
}

.trail-image-container {
  flex-basis: 40%; /* or any fixed size you prefer for the image container */
  border-radius: 10px;
}

.trail-image-container img {
  max-width: 100%; /* Makes sure the image doesn't overflow the container */
  height: auto;
}
.trail-location {
  text-align: center;
  color: #95a5a6;
  margin-bottom: 15px;
}

.nearby-attractions {
  list-style-type: none; /* Removes default bullets */
  padding-left: 0;
}

.nearby-attractions li::before {
  content: "•"; /* Custom bullet */
  color: green; /* Bullet color */
  display: inline-block;
  width: 1em; /* Keep consistent spacing */
  margin-left: -1em; /* Align with the rest of the text */
}

.trail-main-container h2 {
  color: #0b0d7b;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 900;
}

.trail-info-text strong {
  color: #0b0d7b;
}
