@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

.weatherContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
  padding: 20px;
  text-align: center;
}

.weatherContainer h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.weatherContainer h2 {
  font-size: 2em;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}



